<!doctype html>
<html lang=”en”>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset=”UTF-8”>
<title>Function Simulator</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div style="padding-left: 16px">
	<h1>Function Simulator</h1>
</div>
<div>
  <div class="topnav">
   <a class="active" href="/">Home</a>
   <a href="/create">Create</a>
   <a href="/manage">Manage</a>
</div>
<br/>
<div class=”jumbotron”> <p>
Project details
</p></div>
</div>
</body>
</html>